
<div class="row">
    <div class="col-lg-3 col-md-6">

        <div class="small-box bg-info">
            <div class="inner">
                <h1>@ViewBag.firma</h1>
                <p>Yeni Firma</p>
            </div>
            <div class="icon">
                <i class="fas fa-shopping-cart"></i>
            </div>
            <a asp-action="Create" asp-controller="Firma" class="small-box-footer">
                Firma Oluştur <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">

        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@ViewBag.baglanti</h3>
                <p>Yeni Bağlantı</p>
            </div>
            <div class="icon">
                <i class="fas fa-user-plus"></i>
            </div>
            <a asp-controller="Baglanti" asp-action="Create" class="small-box-footer">
                Bağlantı Oluştur <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-6">

        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@ViewBag.bakim</h3>
                <p>Yeni Bakım</p>
            </div>
            <div class="icon">
                <i class="fas fa-chart-pie"></i>
            </div>
            <a asp-controller="Bakim" asp-action="Create" class="small-box-footer">
                Bakim Oluştur <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
</div>
